
.page {
  margin: 0px;
  margin-bottom: 0px;
  background-image: var(--backgorund-image);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--page-font, "IBM Plex Mono", monospace);
  font-size: 18px;
  line-height: 23.4px;
}
.header {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 55px;
  height: 100vh;
  margin: 0px 10px 40px 10px;
}
.decorated-zone {
  position: relative;
}
.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  z-index: -1;
}
.decorated-zone::before {
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  inset-inline-end: 0px;
  inset-block-start: 10px;
}
.decorated-zone::after {
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  inset-inline-start: 0px;
  inset-block-end: 10px;
}

.header-decor {
  margin-top: 10px;
  width: calc(100% - 10px);
  position: absolute;
  z-index: -1;
  visibility: visible;
  inset-inline-end: 30px;
  inset-inline-start: 0px;
  display: inline-flex;
  justify-content: end;
}

.header-decor::before {
  content: "REC";
  color: var(--decor-color);
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  visibility: var(--decor-visibility);
  font-size: 18px;
}

.header-decor::after {
  display: block;
  margin-left: 10px;
  margin-top: 9px;
  content: "";
  color: var(--red-color);
  border-radius: 50%;
  box-shadow: 0 0 3px 3px var(--decor-color);
  background: var(--decor-color);
  inline-size: 8px;
  block-size: 8px;
  visibility: var(--decor-visibility);
}

.header__theme-menu-list {
  list-style-type: none;
  display: grid;
  margin-top: 35px;
  margin-bottom: 15px;
  grid-template-rows: repeat(3, min-content);
  justify-content: end;
  gap: 15px;
}

.header__theme-menu-button {
  color: var(--decor-color);
  background: transparent;
  padding: 2px 13px 1px 13px;
  border: none;
  text-transform: lowercase;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.header__theme-menu-button:hover {
  box-shadow: 0 0 0 1px var(--decor-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-color);
}

.header__theme-menu-button_active {
  padding: 1px 13px 3px 13px;
  box-shadow: 0 0 0 1px var(--decor-color);
}

.header__theme-menu {
  padding-top: 40px;
  display: grid;
  grid-template-rows: repeat(3, min-content);
}

.header-heading {
  color: var(--header-color);
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: 4px 4px 0px var(--shadow2-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  display: inline;
}

.header-pictures {
  margin-bottom: 55px;
}

.heading-red {
  margin: 0;
  color: var(--text-block-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  background-color: var(--block-color);
}

.header-bold {
  margin: 0px;
  list-style-type: none;
  color: var(--text-block-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--block-color);
}

.red-text {
  margin: 0px;
  color: var(--decor-color);
  background: transparent;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.header__theme-menu-item {
  list-style-type: none;
  display: grid;
}

.main-text {
  margin: 0px;
  color: var(--text-color, white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.main__theme-menu-list {
  padding: 0;
  margin: 0;
}

.main__theme-menu-list-pictures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  margin-bottom: 40px;
}

.footer {
  margin: 0px 10px 0px 10px;
  padding-top: 10px;
  height: 100vh;
  box-sizing: border-box;
}

.footer__heading-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.link {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  text-shadow: 2px 2px 0px var(--shadow-color);
  color: var(--text-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--decor-color);
}

.link:focus-visible {
  outline: 1px solid var(--decor-color);
}

.section {
  display: grid;
  gap: 20px;
  margin: 0px 10px 30px 10px;
}

.main__theme-menu-item {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}

.section-images {
  display: grid;
  gap: 10px;
  margin: 0px 10px 0px 10px;
}

.picture-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.five-tips {
  margin-bottom: 10px;
}

@media (width < 768px) {
  .sunset {
      max-height: 142px;
  }

  .ice-cream {
      max-height: 355px;
  }

  .tape {
      max-height: 237px;
  }

  .books {
      max-height: 355px;
  }

  .street {
      max-height: 237px;
  }
}
@media (width >= 768px) {
  .page {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      margin: 0px;
      padding-bottom: 10px;
  }

  .header {
      gap: 163px;
      margin-inline-start: 0;
      margin: 0px 20px 60px 0px;
      box-sizing: border-box;
  }

  .header__theme-menu {
      margin-block-start: 160px;
      padding: 0;
  }

  .header-text {
      justify-self: end;
      inline-size: 364px;
  }

  .section {
      grid-template-columns: 236px auto;
      margin: 0px 20px 80px 20px;
  }

  .section-three {
      grid-template-columns: 236px 1fr;
  }

  .main__theme-menu-list {
    display: grid;
    gap: 20px;
  }

  .five-tips {
      height: 25px;
      margin-bottom: 10px;
  }

  .main__theme-menu-item {
      margin-bottom: 0px;
  }

  .section-two-list {
      grid-column-start: span 2;
  }

  .section-three-list {
      grid-column-start: 2;
  }

  .footer {
      margin: 0px 20px 0px 0px;
  }

  .section-images {
      gap: 20px;
      margin: 0px 20px 0px 20px;
  }

  .main__theme-menu-list-pictures {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }

  .image-item:first-child {
      grid-column-start: span 2;
  }

  .image-item:nth-child(2) {
      grid-row-start: span 2;
  }

  .image-item:nth-child(3) {
      grid-row-start: span 2;
  }

  .image-item:last-child {
      grid-column-start: span 2;
  }

  .decorated-zone::after {
      border-bottom: 1px solid var(--decor-color);
      border-left: 1px solid var(--decor-color);
      inset-inline-start: 20px;
      inset-block-end: 20px;
  }

  .decorated-zone::before {
      border-top: 1px solid var(--decor-color);
      border-right: 1px solid var(--decor-color);
      inset-inline-end: 0px;
      inset-block-start: 20px;
  }

  .header-decor {
      margin-top: 20px;
  }

  .footer-heading {
      min-width: 380px;
      text-align: end;
  }
}
@media (width >= 1024px) {
  .header__theme-menu {
      margin-top: 0;
  }

  .header__theme-menu-list {
      display: flex;
      justify-content: center;
      margin: 20px 20px 165px 0px;
  }

  .header-text {
      justify-self: end;
      inline-size: calc(50vw - 20px);
  }

  .header-heading {
      font-size: 157px;
      text-shadow: 4px 4px 0px var(--shadow2-color);
  }

  .section-two-list {
      grid-template-columns: repeat(3, 1fr);
  }

  .main__theme-menu-item {
      grid-template-rows: min-content;
  }

  .section {
      grid-template-columns: 315px auto;
  }

  .header {
      gap: 115px;
  }
}